# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_define.dat

# Images
!夢幻の秘境.rpgmvp
!森林の秘境.rpgmvp
!渓谷の秘境.rpgmvp
!炎山の秘境.rpgmvp
!砂漠の秘境.rpgmvp
!雪原の秘境.rpgmvp
!Scene_Shop_back.rpgmvp
!Scene_Skill_back.rpgmvp
!Title_03.rpgmvp
!tutorial01.rpgmvp
!tutorial02.rpgmvp
!tutorial03.rpgmvp
!tutorial04.rpgmvp
!tutorial05.rpgmvp
!tutorial06.rpgmvp
!tutorial07.rpgmvp
!tutorial08.rpgmvp
!tutorial09.rpgmvp
!tutorial10.rpgmvp
!tutorial11.rpgmvp
!tutorial12.rpgmvp
!tutorial13.rpgmvp
!tutorial14.rpgmvp
!!tutorial15.rpgmvp
!Desert of Scorching Sands.rpgmvp
!Fantasy Secluded Area.rpgmvp
!Forest of Astral Reading.rpgmvp
!Forest of Divine Protection.rpgmvp
!Forest of Phantasmal Beasts.rpgmvp
!Fragment of Memory.rpgmvp
!Giant Tree of Fantasy.rpgmvp
!Magic Capital Vaal.rpgmvp
!Magic Mine.rpgmvp
!Path to the Sanctuary.rpgmvp
!Port Town Granfelia.rpgmvp
!Secluded Desert.rpgmvp
!Secluded Flame Mountain.rpgmvp
!Secluded Forest.rpgmvp
!Secluded Snowfield.rpgmvp
!Secluded Valley.rpgmvp
!Underground Volcano City.rpgmvp
!中枢都市ヴァール - Copy.rpgmvp
!中枢都市ヴァール.rpgmvp
!地下火山都市.rpgmvp
!夢幻の大樹.rpgmvp
!夢幻の秘境.rpgmvp
!幻獣の森.rpgmvp
!星詠みの森.rpgmvp
!森林の秘境.rpgmvp
!渓谷の秘境.rpgmvp
!港町グランフェリア.rpgmvp
!炎山の秘境.rpgmvp
!熱砂の砂漠.rpgmvp
!砂漠の秘境.rpgmvp
!神護の森.rpgmvp
!聖域 - Copy.rpgmvp
!聖域.rpgmvp
!聖域へ続く道.rpgmvp
!記憶の断片.rpgmvp
!雪原の秘境.rpgmvp
!魔都ヴァール.rpgmvp
!魔鉱山.rpgmvp
