# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_define.dat

# Images
!夢幻の秘境.rpgmvp
!森林の秘境.rpgmvp
!渓谷の秘境.rpgmvp
!炎山の秘境.rpgmvp
!砂漠の秘境.rpgmvp
!雪原の秘境.rpgmvp
